/*body {
	background: url(INSERT HEADSHOT) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.container {
  margin-top: 10%;

  /*padding: 25px 0px 50px;
  text-align: center;*/
}

h1 {
	color: blue;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 20px;
}

h2 {
	font-style: italic;
	text-align: center;
	padding-bottom: 20px
}

h4 {
	text-align: center;
}
p {
	font-family: sans-serif;
}

p.intro {
	width: 50%;
	font-style: italic;
}

p.author {
	width: 75%;
	font-style: italic;
	font-weight: bold;
}

ul {
	font-size: 20px;
	line-height: 30px;
}

lh {
	text-decoration: underline;
}

ol {
	font-size: 20px;
	line-height: 30px;
}

.important {
	color: red;
	font-weight: bold;
}

.flashy {
	color: red;
	font-style: italic;
}

.best {
	font-size: 25px;
	font-weight: bold;
	color: green;
	font-style: italic;
}

.intro {
	width: 75%;
	line-height: 30px;
}

.name {
	font-style: underline;
	font-weight: bold;
}

img.main {
	float: left;
}

.column1 {
	width: 32%;
	float: left;
	background-color: green;
}

.column2 {
	width: 32%;
	float: left;
	background-color: yellow;
}

.column3 {
	width: 32%;
	float: left;
	background-color: orange;
}

.clickable {
	cursor: pointer;
	color: #0088cc;
}

.clickable:hover {
	text-decoration: underline;
}

.initially-showing {
	display:none;
}

.elementFadeIn {
	display: none;
}

.elementSlideDown {
	display: none;
}

img {
	padding: 5px;
}

@media (max-width: 800px) {
  .hide-img {
    display: none;
  }
}

#story {
	display:none;
}

#contact {
	padding: 70px
}
